<!DOCTYPE html>
<html lang="en">
<head>
    
    
        <title>Contact Us | Key Club</title>
    
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
</head>

<body>
     <nav class="navbar">
        <ul>
           <li><img src="../static/images/logo.png" /></li>
           <li><a href ="../index.html">Home</a></li> 
           <li><a href ="./membership.html">Membership</a></li>
           <li><a href ="./resources.html">Resources</a></li> 
           <li><a href ="./event.html">Events</a></li>
           <li><a href ="./team.html">Team</a></li>
           <li><a href ="./contact.html">Contact us</a></li>
        </ul>   
    </nav>    
    <script>
        var navbar = document.querySelector('.navbar');
        var lastScrollTop = 0;
    
        window.addEventListener('scroll', function() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
          if (scrollTop > lastScrollTop && !navbar.classList.contains('small')) {
            navbar.classList.add('small');
          } else if (scrollTop < lastScrollTop && navbar.classList.contains('small')) {
            navbar.classList.remove('small');
          }
    
          lastScrollTop = scrollTop;
        });

      </script>
      

<div class="cov">
    <h1>Contact us</h1>

    <p>We're excited to provide you with the essential contact information you need to get in touch with Key Club members and leaders. Whether you have a question, want to collaborate, or simply need some assistance, feel free to reach out to us using the contact details below</p>

    <ul>
        <li><b>Phone:</b></li>

        <li><b>Mail:</b></li>

        <li><b>Social Media:</b>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </li>


  

    </ul>

    <p>Feel free to contact us with any questions, suggestions, or feedback. We're here to assist you in making the most of your Key Club experience. Connect with us today, and let's work together to make a positive impact in our communities!

    Please note that our office hours are Monday to Friday, from 9:00 AM to 5:00 PM (EST). We will do our best to respond to your inquiries within 24-48 hours.

    Thank you for your interest in Key Club, and we look forward to hearing from you soon!</p>

</div>



    <div class="sep">
      <footer class="footer">
        <div class="footer-column">
          <h3>Contact Us</h3>
          <p class="footp"><i>Email: info@keyclub.org</i>
          <br><i>Phone: </i></p> 
        </div>
        <div class="footer-column">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="footer-info">
          <p class="footp">&copy; 2023 Key Club of Kathmandu. All rights reserved.</p>
        </div>
      </footer>
      <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

    </div>
      

      
</body>
</html>