

<!DOCTYPE html>
<html lang="en">
<head>
    
    
        <title>Get a Membership | Key Club</title>
    
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
</head>

<body>
     <nav class="navbar">
        <ul>
                <li><img src="../static/images/logo.png" /></li>
                <li><a href ="./index.html">Home</a></li> 
                <li><a href ="./membership.html">Membership</a></li>
                <li><a href ="./resources.html">Resources</a></li> 
                <li><a href ="./event.html">Events</a></li>
                <li><a href ="./team.html">Team</a></li>
                <li><a href ="./contact.html">Contact us</a></li>
        </ul>   
    </nav>    
    <script>
        var navbar = document.querySelector('.navbar');
        var lastScrollTop = 0;
    
        window.addEventListener('scroll', function() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
          if (scrollTop > lastScrollTop && !navbar.classList.contains('small')) {
            navbar.classList.add('small');
          } else if (scrollTop < lastScrollTop && navbar.classList.contains('small')) {
            navbar.classList.remove('small');
          }
    
          lastScrollTop = scrollTop;
        });

      </script>
      

<div class="cov">
        <h1>Become a Member</h1>
        <table  class="mem" >
                 <tr>
                <td><p>Membership in Key Club opens up a world of opportunities for high school students like you to make a difference, develop leadership skills, and create lasting friendships. By joining our club, you become part of a global network of passionate individuals dedicated to serving others and creating positive change in their communities.</p></td>
                <td><img src="/static/images/pic8.jpeg"></th>
                </tr>
        </table>
        <h2>Who Can Join?</h2>
        <p> Key Club membership is open to all high school students who have a desire to serve others and make a positive impact. Whether you're a freshman just starting your high school journey or a senior looking to leave a lasting legacy, Key Club welcomes you with open arms. No matter your background, ethnicity, or interests, Key Club is a place where everyone is valued and included.</p><br>

        <h2>How to Join</h2>    
        <p>Joining Key Club is easy! The first step is to find a Key Club chapter at your school or, if there isn't one, start a new chapter with the guidance of your school administration. Connect with your Key Club advisor or reach out to the district administrator to express your interest. They will provide you with the necessary information and guide you through the registration process.</p>

        <h2>Membership Benefits</h2>
        <p> As a Key Club member, you'll experience a multitude of benefits that will enrich your high school experience and set you on a path towards personal and leadership growth. Here are some of the exciting benefits you can look forward to:</p>

        <ol class="memlist">
                <li><h2>Service Opportunities:</h2>
                        <p> Engage in meaningful service projects that address local and global needs. Make a tangible difference in your community while developing empathy and compassion for others.</p>
                </li>

                <li><h2>Leadership Development</h2>
                        <p>Participate in workshops, training sessions, and conferences designed to enhance your leadership skills. Gain valuable experience in team-building, communication, and organizational management.</p>
                </li>

                <li><h2>Networking:</h2>
                        <p>Connect with Key Club members from different schools, districts, and even countries. Forge friendships, exchange ideas, and collaborate on service projects that transcend boundaries.</p>
                </li>

                <li><h2>College and Career Advancement:</h2>
                        <p>Stand out on college applications and resumes by highlighting your Key Club involvement. Many colleges and universities value the leadership and service experiences gained through Key Club membership.</p>
                </li>

                <li><h2>Scholarships and Awards</h2>
                        <p>Key Club offers numerous scholarship opportunities to recognize outstanding members who have demonstrated exceptional commitment to service and leadership. Take advantage of these opportunities to further your educational goals.</p>
                </li>

                <li><h2>Personal Growth</h2>
                        <p>Key Club provides a supportive and nurturing environment where you can develop essential life skills such as time management, public speaking, and problem-solving. Gain confidence and self-assurance as you take on new challenges.</p>
                </li>
        </ol>

        <h2>Membership Requirements</h2>
        <ol>
        
                <li>
                        <h2> Service Hours:</h2>
                        <p>Actively participating in Key Club service projects and accumulating a minimum number of service hours per academic year. These requirements ensure that you are actively engaged in making a positive impact in your community.</p>
                </li>
        </ol>

        <h2>Join Key Club Today</h2>
        <p>Don't miss out on the incredible opportunities Key Club has to offer. Take the first step towards becoming a member and unlock your potential to create change, develop leadership skills, and build lifelong friendships. Connect with your local Key Club chapter or school administration today and embark on a rewarding journey of service and personal growth. Together, let's unlock the power of service and make a lasting impact as Key Club members!</p>
</div>


    <div class="sep">
      <footer class="footer">
        <div class="footer-column">
          <h3>Contact Us</h3>
          <p class="footp"><i>Email: info@keyclub.org</i>
          <br><i>Phone: </i></p> 
        </div>
        <div class="footer-column">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="footer-info">
          <p class="footp">&copy; 2023 Key Club of Kathmandu. All rights reserved.</p>
        </div>
      </footer>
      <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

    </div>
      

      
</body>
</html>